@charset "charset-name";

/* specifes row */
.row {
	clear: both;
	float: left;
	overflow: hidden;
	width: 100%;
}

/* responsive design for portrat phone*/
@media only screen and (max-width: 600px) {
	#advertisement {
		display: none;
	}
}

/* responsive design for lanscape phone */
@media only screen and (max-width: 800px) {
	.rest-col {
		width: 80%;
		padding-bottom: 20px;
	}
}

/* responsive design for desktop */
@media only screen and (min-width: 800px) {
	.rest-col {
		width: 40%;
		padding: 30px;
	}
}


/* ---------- header setup ------------------ */
/* title and advertisement */
/* making headers via Grid */
#header-grid {
	display: grid;
	grid-template-columns: 300px auto;
	background-color: white;
	color: black;
	width: 100%;
}

/* specifes header title */
#header-title {
	text-align: center;
	font-size: 18px;
}

/* specifes advertisement position */
#advertisement {
	text-align: right;
	padding: 30px 0px 0px 0px;
	font-size: 15px;
}

/* navigation */
/* set the backgroup color of navigation bar */
.header-navigation {
	background-color: #333;
	overflow: hidden;
}

/* each link attributes */
.header-navigation a {
	float: left;
	color: white;
	text-align: center;
	padding: 16px 18px;
	text-decoration: none;
	font-size: 21px;
}

/* handle mouse hovering */
.header-navigation a:hover {
	background-color: #111;
}

/* for login and registration floating */
#user-account {
	float: right;
}

/*  ---------- end of header setup ---------- */

/*  ---------- main page setup -------------- */
/* for restaurant details block */
#rest-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
}

/* put restaurant information as a whole width row */
.rest-row {
	width: 100%;
	margin-top: 10px;
}

/* for each title and subtitle message */
.rest-title {
	background-color: #aaa;
	text-align: center;
}

/* for map layout */
#map {
	margin: 20px;
	height: 500px;
}

/*  ---------- end of main page setup ------- */

/*  ---------- footer setup ----------------- */
#footer {
	text-align: center;
	font-size: 10px;
}
/* ---------- end of footer setup ----------- */